<div class="pensamento {{ pensamento.modelo }} ff-roboto-mono [ngClass]='larguraPensamento()'">
    <img src="/src/assets/imagens-angular/Imagens-do-curso/{{pensamento.modelo }}.png" alt="Aspas coloridas">
    <p class="conteudo">{{pensamento.conteudo}}</p>
    <p class="autoria"><b>{{ pensamento.autoria }}</b></p>
    <div class="botao-editar">
        <button class="botao-editar">
            <img src="/src/assets/imagens-angular/Imagens-do-curso/icone-editar.png" alt="ícone de editar">
        </button>
        <button class="botao-excluir">
            <img src="/src/assets/imagens-angular/Imagens-do-curso/icone-excluir.png" alt="ícone de icone-excluir">
        </button>
    </div>
</div>
